<p>products works!</p>


<a routerLink="/products/new">Add new Product</a>

<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Picture</th>
        </tr>
        <tr *ngFor="let prod of allProducts">
            <td>
                <a routerLink="/products/{{prod.id}}">{{prod.name}}</a>
            </td>
            <td>{{prod.price | currency:"ILS"}}</td>
            <td>{{prod.stock | zeroSymbol:"חסר במלאי"}}</td>
            <td>
                <app-thumbnail imageSource="/assets/images/products/{{prod.id}}.jpg" imageWidth="100" imageHeight="80"
                    (mouseEnter)="preview.src=$event" (mouseOut)="onMouseOut()">
                </app-thumbnail>
            </td>
        </tr>
    </table>
</div>

<img #preview>