section {
    border: 1px solid black;
    height: 100%;
    box-sizing: border-box;
    background-color: lightgreen;
    display: grid;
    grid-template-rows: 13% 80% 7%;
    grid-template-columns: repeat(12, 1fr);
}

section > * { border: 1px solid black; }
header, footer { grid-column: span 12; }
aside { grid-column: span 2;}
main { grid-column: span 10;}