
<app-heading>Best Products Site Ever</app-heading>

<img #imageSrc src="/assets/images/home.png" [width]="imageWidth" (click)="displayDetails($event)">

<p>Buy items {{itemsForFreeOne | numberToWord }}, get one for free!</p>

<div>
    <button (click)="incSize()">&uarr;</button>
    <button (click)="resetSize()">&harr;</button>
    <button (click)="decSize()">&darr;</button>
    <hr>
    {{imageWidth}} x {{imageSrc.height}}
    <hr>
    <label>{{imageWidth}}</label>
    <hr>
    <label *ngIf="winter">Watermelon Season!</label>
</div>


